spring:
  profiles:
    active: dev # 개발할 때는 dev, 배포할 때는 prod

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/${DB_NAME}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET_NAME}
      region:
        static: ap-northeast-2

  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE}
      max-request-size: ${MAX_REQUEST_SIZE}