spring:
  jackson:
    time-zone: Asia/Seoul       # 모든 시간대 응답을 KST로 통일
    serialization:
      write-dates-as-timestamps: false

  profiles:
    active: dev # 개발할 때는 dev, 배포할 때는 prod

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${SMTP_PWD}
    group: ${MAIL_GROUP}
    properties:
      mail:
        smtp:
          debug: true
          auth: true                    # SMTP 인증 사용 여부 (Gmail은 필요함)
          starttls.enable: true         # 일반 연결을 암호화된 연결로 업그레이드 -> Gmail이면 필수
          connectiontimeout: 5000       # SMTP 서버 연결 타임아웃 (Ms)
          timeout: 15000                # SMTP 명령 응답 대기 타임아웃 (Ms)
          writetimeout: 15000           # 이메일 본문 전송 시 대기 시간 (Ms)

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/${DB_NAME}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}

  cloud:
    aws:
      s3:
        bucket: ${AWS_S3_BUCKET_NAME}
      region:
        static: ap-northeast-2

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH_GOOGLE_CLIENT_SECRET}
            client-name: Google
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - email
              - profile
          #              - openid

          naver:
            client-id: ${OAUTH_NAVER_CLIENT_ID}
            client-secret: ${OAUTH_NAVER_CLIENT_SECRET}
            client-name: Naver
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - email
              - profile_image
              - nickname
            provider: naver

          kakao:
            client-id: ${OAUTH_KAKAO_CLIENT_ID}
            client-secret: ${OAUTH_KAKAO_CLIENT_SECRET}
            client-name: Kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - account_email
              - profile_image
              - profile_nickname
            provider: kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

app:
  cookie:
    secure: false
    cookie-atk: "ATK"
    cookie-rtk: "RTK"
    same-site: "Lax"
    atk-apply-path: "/"
    rtk-apply-path: "/api/v1"  # refresh와 logout 엔드포인트 모두에서 접근 가능하도록 변경

  front-redirect-uri: "${FRONT_REDIRECT_URI:http://localhost:5173/oauth/callback}"
  front-base-url: "${FRONT_BASE_URL:http://localhost:5173}"
  allowed-origins: "${ALLOWED_ORIGINS:http://localhost:5173,http://localhost:3000}"

hmac:
  secret: ${HMAC_SECRET_KEY} # at least 32 characters long

cdn:
  base-url: ${CDN_BASE_URL:} # CDN이 있다면 설정, 없으면 빈 문자열 (S3 URL 사용)